@import url('./main.css');

@media screen and (max-width: 1200px) and (min-width: 992px) {
	:root {
		/* Font size */
		--font-x-large: 5.4rem;
		--font-large: 2.7rem;
		--font-medium: 1.8rem;
		--font-regular: 1.5rem;
		--font-small: 1.2rem;
		--font-micro: 1rem;
	}

	.nav-wrap {
		display: none;
	}
	.sec-p {
		padding-left: 0;
	}
	/* ---------  mobile header --------- */
	.mobile-header {
		width: 100%;
		height: 84px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(5px);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: block;
		z-index: 1044;
	}

	.mobile-header .container .mobile-wrap {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}
	.mobile-header .container h1 {
		position: relative;
		left: 50px;
		margin-right: 190px;
	}
	.mobile-header .container h1 .logo {
		margin-bottom: 0;
	}
	.mobile-header .container nav {
		width: 100%;
		position: relative;
		right: -20px;
		top: 7px;
	}
	.mobile-header .container nav ul {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.mobile-header .container nav ul li {
		margin-right: 25px;
	}
	.mobile-header .container nav ul li a {
		position: relative;
	}

	/* ---------  Home --------- */

	#home .home-wrap {
		padding: 168px 70px 173px 70px;
	}
	/* ---------  about --------- */
	#about .about-wrap {
		padding: 105px 70px 105px 70px;
		flex-wrap: nowrap;
	}
	#about .about-img {
		position: relative;
		width: 50%;
	}

	#about .about-text h3 {
		text-transform: uppercase;
		margin-bottom: 65px;
	}
	#about .about-text h4 {
		margin-bottom: 42px;
	}
	#about .about-text p {
		margin-bottom: 21px;
	}
	.jarallax {
		padding: 105px 50px 105px 50px;
	}

	/* ---------  What I do --------- */
	#whatido .ido-text {
		padding: 105px 70px 105px 70px;
	}
	/* ---------  Skills --------- */
	#skills {
		padding: 105px 70px 105px 70px;
	}
	#skills .skill-wrap {
		padding: 0;
	}

	/* ---------  contact --------- */
	#contact .contact-container .talk-container {
		padding: 20px 0 0 0;
	}

	/* Popup Content */
	.white-popup {
		width: 70%;
		height: 80%;
	}
}

@media screen and (max-width: 992px) and (min-width: 768px) {
	:root {
		/* Font size */
		--font-x-large: 5.4rem;
		--font-large: 2.7rem;
		--font-medium: 1.8rem;
		--font-regular: 1.5rem;
		--font-small: 1.2rem;
		--font-micro: 1rem;
	}

	.nav-wrap {
		display: none;
	}
	.sec-p {
		padding-left: 0;
	}
	/* ---------  mobile header --------- */
	.mobile-header {
		width: 100%;
		height: 84px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(5px);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		display: block;
		z-index: 9999;
	}

	.mobile-header .container .mobile-wrap {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}
	.mobile-header .container h1 {
		position: relative;
		left: 0;
		margin-right: 100px;
	}
	.mobile-header .container h1 .logo {
		margin-bottom: 0;
	}
	.mobile-header .container nav {
		width: 100%;
		position: relative;
		right: -20px;
		top: 7px;
	}
	.mobile-header .container nav ul {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.mobile-header .container nav ul li {
		margin-right: 25px;
	}
	.mobile-header .container nav ul li a {
		position: relative;
	}
	/* ---------  Home --------- */

	#home .home-wrap {
		padding: 168px 70px 173px 0;
	}
	/* ---------  About --------- */
	#about .about-wrap {
		padding: 105px 50px 105px 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}
	#about .about-img {
		position: relative;
		width: 70%;
		left: 30px;
	}
	.jarallax {
		padding: 105px 50px 105px 50px;
	}
	#about .jarallax .text-container {
		padding-right: 0;
	}
	/* ---------  What I do --------- */
	#whatido .ido-text {
		padding: 105px 50px 105px 50px;
	}
	/* ---------  Skills --------- */
	#skills .skill-wrap {
		padding: 105px 50px 105px 50px;
	}
	#skills .work-card {
		width: 25%;
		height: 100%;
	}
	/* ---------  Portfolio --------- */
	#portfolio .portfolio-text {
		padding: 105px 0 0 50px;
	}
	#portfolio .work-container {
		margin: 0 150px 105px;
	}

	/* Popup Content */
	.white-popup {
		width: 90%;
		height: 80%;
	}
	/* ---------  Contact --------- */
	#contact .contact-wrap {
		padding: 105px 60px 105px 50px;
	}
	#contact .contact-container {
		margin-top: 84px;
		padding-left: 170px;
		display: flex;
	}
	#contact .contact-container .talk-container {
		padding: 20px 0 0 0;
	}
}

@media screen and (max-width: 768px) and (min-width: 480px) {
	:root {
		/* Font size */
		--font-x-large: 7vw;
		--font-large: 3.7vw;
		--font-medium: 2.2vw;
		--font-regular: 2.1vw;
		--font-small: 1.2rem;
		--font-micro: 1rem;
	}

	.nav-wrap {
		display: none;
	}
	.sec-p {
		padding-left: 0;
	}

	.nav-menu {
		display: none;
	}

	/* ---------  mobile header --------- */
	.mobile-header {
		width: 100%;
		height: 84px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(5px);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		display: block;
		z-index: 9;
	}

	.mobile-header .container .mobile-wrap {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}
	.mobile-header .container h1 {
		position: relative;
		left: 20px;
		margin-right: 100px;
	}
	.mobile-header .container h1 .logo {
		margin-bottom: 0;
	}
	/* hamberger btn */

	.hamburger-button {
		position: absolute;
		width: 32px;
		height: 25px;
		display: block;
		z-index: 100;
		right: 90px;
		top: 20px;
		transition: 0.3s ease-in-out;
	}

	.hamburger-button span {
		position: absolute;
		height: 4px;
		border-radius: 4px;
		width: 100%;
		background-color: var(--font-color);
		top: 0;
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	}

	.hamburger-button span:nth-child(1) {
		top: 0px;
	}

	.hamburger-button span:nth-child(2),
	.hamburger-button span:nth-child(3) {
		top: 13px;
	}

	.hamburger-button span:nth-child(4) {
		top: 26px;
	}

	.hamburger-button.active span {
		background-color: var(--font-color);
	}

	.hamburger-button.active span:nth-child(1),
	.hamburger-button.active span:nth-child(4) {
		opacity: 0;
	}

	.hamburger-button.active span:nth-child(2) {
		transform: rotate(45deg);
	}

	.hamburger-button.active span:nth-child(3) {
		transform: rotate(-45deg);
	}
	.overlay-wrap {
		display: block;
	}
	.overlay {
		position: fixed;
		top: 84px;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 0;
		opacity: 0;
		visibility: hidden;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(30px);
		transition: 400ms;
		z-index: 100;
	}
	.mobile-header .container .overlay .mobile-menu {
		display: block;
		right: 0;
		top: 0;
	}

	.mobile-header .container .overlay .mobile-menu ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		margin-bottom: 150px;
	}
	.overlay nav ul li {
		margin: 2rem 0;
		opacity: 0;
	}
	.overlay nav ul li a {
		opacity: 1;
		position: relative;
	}

	.overlay.visible {
		opacity: 1;
		visibility: visible;
		height: 100vh;
	}
	.overlay.visible nav ul li {
		animation: fadeInLeft 400ms ease forwards;
	}
	.overlay.visible nav ul li:nth-child(1) {
		animation-delay: 230ms;
	}
	.overlay.visible nav ul li:nth-child(2) {
		animation-delay: 260ms;
	}
	.overlay.visible nav ul li:nth-child(3) {
		animation-delay: 290ms;
	}
	.overlay.visible nav ul li:nth-child(4) {
		animation-delay: 320ms;
	}
	.overlay.visible nav ul li:nth-child(5) {
		animation-delay: 350ms;
	}
	.overlay.visible nav ul li:nth-child(6) {
		animation-delay: 380ms;
	}

	/* mobile icon-box */

	.overlay .mobile-icon-box {
		width: 30%;
		display: flex;
		position: relative;
		top: -30px;
		justify-content: space-between;
		align-items: center;
	}
	.overlay .mobile-icon-box a {
		position: relative;
		font-size: 5rem;
		opacity: 0;
	}
	.overlay.visible .mobile-icon-box a {
		animation: fadeInUP 500ms ease forwards;
	}

	.overlay.visible .mobile-icon-box a:first-child:hover {
		fill: var(--point-color);
	}

	.overlay.visible .mobile-icon-box a:nth-child(1) {
		animation-delay: 380ms;
	}
	.overlay.visible .mobile-icon-box a:nth-child(2) {
		animation-delay: 420ms;
	}
	.overlay.visible .mobile-icon-box a:nth-child(3) {
		animation-delay: 470ms;
	}

	@keyframes fadeInLeft {
		0% {
			opacity: 0;
			transform: translateX(-25%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes fadeInUP {
		0% {
			opacity: 0;
			transform: translateY(100%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	/* ---------  Home --------- */

	#home .home-wrap {
		padding: 130px 90px 173px 120px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	#home .home-text {
		width: 100%;
		position: relative;
		left: 10px;
	}

	.home-img {
		position: relative;
		width: 350px;
		height: 350px;
		left: -60px;
	}
	/* ---------  About --------- */
	#about .about-text h3 {
		margin-bottom: 42px;
	}
	#about .about-text h4 {
		margin-bottom: 21px;
	}

	#about .about-text-container {
		position: relative;
		top: 460px;
	}
	#about .about-text p {
		margin-bottom: 17px;
	}
	#about .about-img {
		position: relative;
		width: 80%;
		left: 75px;
		top: -180px;
	}
	#about .about-img::after {
		left: -30px;
		top: -20px;
		width: 90%;
		height: 390px;
	}
	#about .about-img img {
		width: 80%;
	}
	#about .about-text h4 {
		margin-bottom: 18px;
	}
	.jarallax {
		padding: 30px 140px 10px 140px;
	}

	#about .about-content {
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	#about .jarallax .text-container {
		padding-right: 0;
		justify-content: space-between;

		margin-bottom: 21px;
	}
	.subtitle {
		margin-bottom: 25px;
		font-size: var(--font-medium);
	}
	#about .jarallax .left-box {
		margin-right: 0;
		margin-bottom: 42px;
	}
	/* --------- What I do --------- */
	#whatido {
		height: 1700px;
		padding: 0 0 173px 0;
	}
	#whatido .container-fluid {
		width: 100%;
		height: 100%;
	}
	#whatido .container-fluid .row {
		width: 100%;
		height: 100%;
	}
	#sectionPin {
		height: 100%;
		padding: 69px 0;
		overflow: hidden;
		margin: 0 auto;
	}
	#whatido .pin-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 0 50px;
	}
	.pin-wrap .service-card {
		width: 47%;
		height: 50%;
		margin: 0 1% 29px 2%;
	}
	.pin-wrap .service-card img {
		width: 90%;
	}
	.pin-wrap .service-card:nth-child(3) p {
		white-space: nowrap;
	}
	/* ---------  Skills --------- */
	#skills .row ul {
		display: flex;
		flex-wrap: wrap;
	}
	/* ---------  Portfolio --------- */
	#portfolio .work-container {
		margin: 0 20px 105px;
	}
	/* Popup Content */
	.white-popup {
		width: 70%;
		height: 50%;
	}
	/* ---------  Contact --------- */
	#contact .contact-container .talk-container {
		padding: 20px 0 0 100px;
	}
	/* ---------  Contact --------- */
	#contact .contact-wrap {
		padding: 105px 60px 105px 50px;
	}
	#contact .contact-container {
		margin-top: 84px;
		padding-left: 0x;
	}
	#contact .contact-container .talk-container {
		position: relative;
		left: -440px;
	}
}

/* ----------------------------------------------- */

@media screen and (max-width: 480px) {
	:root {
		/* Font size */
		--font-x-large: 7vw;
		--font-large: 4.2vw;
		--font-medium: 3.2vw;
		--font-regular: 3vw;
		--font-small: 1.2rem;
		--font-micro: 1rem;
	}

	.nav-wrap {
		display: none;
	}
	.sec-p {
		padding-left: 0;
	}

	.nav-menu {
		display: none;
	}

	/* ---------  mobile header --------- */
	.mobile-header {
		width: 100%;
		height: 84px;
		background: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(5px);
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		display: block;
		z-index: 9;
	}

	.mobile-header .container .mobile-wrap {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: nowrap;
	}
	.mobile-header .container h1 {
		position: relative;
		left: 50px;
		margin-right: 100px;
	}
	.mobile-header .container h1 .logo {
		margin-bottom: 0;
	}
	/* hamberger btn */

	.hamburger-button {
		position: absolute;
		width: 32px;
		height: 25px;
		display: block;
		z-index: 100;
		right: 50px;
		top: 20px;
		transition: 0.3s ease-in-out;
	}

	.hamburger-button span {
		position: absolute;
		height: 4px;
		border-radius: 4px;
		width: 100%;
		background-color: var(--font-color);
		top: 0;
		transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
	}

	.hamburger-button span:nth-child(1) {
		top: 0px;
	}

	.hamburger-button span:nth-child(2),
	.hamburger-button span:nth-child(3) {
		top: 13px;
	}

	.hamburger-button span:nth-child(4) {
		top: 26px;
	}

	.hamburger-button.active span {
		background-color: var(--font-color);
	}

	.hamburger-button.active span:nth-child(1),
	.hamburger-button.active span:nth-child(4) {
		opacity: 0;
	}

	.hamburger-button.active span:nth-child(2) {
		transform: rotate(45deg);
	}

	.hamburger-button.active span:nth-child(3) {
		transform: rotate(-45deg);
	}
	.overlay-wrap {
		display: block;
	}
	.overlay {
		position: fixed;
		top: 84px;
		left: 0;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 0;
		opacity: 0;
		visibility: hidden;
		background: rgba(255, 255, 255, 0.9);
		backdrop-filter: blur(30px);
		transition: 400ms;
		z-index: 100;
	}
	.mobile-header .container .overlay .mobile-menu {
		display: block;
		right: 0;
		top: 0;
	}

	.mobile-header .container .overlay .mobile-menu ul {
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
		margin-bottom: 150px;
	}
	.overlay nav ul li {
		margin: 2rem 0;
		opacity: 0;
	}
	.overlay nav ul li a {
		opacity: 1;
		position: relative;
	}

	.overlay.visible {
		opacity: 1;
		visibility: visible;
		height: 100vh;
	}
	.overlay.visible nav ul li {
		animation: fadeInLeft 400ms ease forwards;
	}
	.overlay.visible nav ul li:nth-child(1) {
		animation-delay: 230ms;
	}
	.overlay.visible nav ul li:nth-child(2) {
		animation-delay: 260ms;
	}
	.overlay.visible nav ul li:nth-child(3) {
		animation-delay: 290ms;
	}
	.overlay.visible nav ul li:nth-child(4) {
		animation-delay: 320ms;
	}
	.overlay.visible nav ul li:nth-child(5) {
		animation-delay: 350ms;
	}
	.overlay.visible nav ul li:nth-child(6) {
		animation-delay: 380ms;
	}

	/* mobile icon-box */

	.overlay .mobile-icon-box {
		width: 30%;
		display: flex;
		position: relative;
		top: -30px;
		justify-content: space-between;
		align-items: center;
	}
	.overlay .mobile-icon-box a {
		position: relative;
		font-size: 5rem;
		opacity: 0;
	}
	.overlay.visible .mobile-icon-box a {
		animation: fadeInUP 500ms ease forwards;
	}

	.overlay.visible .mobile-icon-box a:first-child:hover {
		fill: var(--point-color);
	}

	.overlay.visible .mobile-icon-box a:nth-child(1) {
		animation-delay: 380ms;
	}
	.overlay.visible .mobile-icon-box a:nth-child(2) {
		animation-delay: 420ms;
	}
	.overlay.visible .mobile-icon-box a:nth-child(3) {
		animation-delay: 470ms;
	}

	@keyframes fadeInLeft {
		0% {
			opacity: 0;
			transform: translateX(-25%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	@keyframes fadeInUP {
		0% {
			opacity: 0;
			transform: translateY(100%);
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
	/* ---------  Home --------- */

	#home .home-wrap {
		padding: 130px 50px 173px 50px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
	}
	#home .home-text {
		width: 100%;
		position: relative;
		left: 10px;
	}
	#home .home-text h4 {
		font-size: 1.6rem;
		top: 20px;
	}
	#home .home-text h3 {
		font-size: 1.8rem;
		margin-bottom: 42px;
	}
	.home-img {
		position: relative;
		width: 350px;
		height: 350px;
		left: -30px;
	}
	/* ---------  About --------- */
	#about .about-wrap {
		padding: 105px 50px 105px 50px;
	}
	#about .about-text h3 {
		margin-bottom: 42px;
	}
	#about .about-text h4 {
		margin-bottom: 21px;
	}

	#about .about-text-container {
		position: relative;
		top: 360px;
	}
	#about .about-text p {
		margin-bottom: 17px;
	}
	#about .about-img {
		position: relative;
		width: 90%;
		left: 20px;
		top: -180px;
	}
	#about .about-img::after {
		left: -30px;
		top: -20px;
		width: 90%;
		height: 390px;
	}
	#about .about-img img {
		width: 90%;
		left: 10px;
	}
	#about .about-text h4 {
		margin-bottom: 18px;
	}
	.jarallax {
		padding: 30px 50px 10px 50px;
	}

	#about .about-content {
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	#about .jarallax .text-container {
		padding-right: 0;
		justify-content: space-between;

		margin-bottom: 21px;
	}
	.subtitle {
		margin-bottom: 25px;
		font-size: var(--font-medium);
	}
	#about .jarallax .left-box {
		width: 100%;
		margin-right: 0;
		margin-bottom: 42px;
	}
	#about .jarallax .right-box {
		width: 100%;
	}
	/* --------- What I do --------- */
	#whatido {
		height: 2940px;
		padding: 0 0 173px 0;
	}
	#whatido .container-fluid {
		width: 100%;
		height: 100%;
	}
	#whatido .container-fluid .row {
		width: 100%;
		height: 100%;
	}
	#sectionPin {
		height: 100%;
		padding: 0;
		overflow: hidden;
		margin: 0 auto;
	}
	#whatido .pin-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 0 70px;
	}
	.pin-wrap .service-card {
		width: 95%;
		height: 50%;
		margin: 0 3% 29px 2%;
	}
	.pin-wrap .service-card img {
		width: 90%;
	}
	.pin-wrap .service-card:nth-child(3) p {
		white-space: nowrap;
	}
	/* ---------  Skills --------- */
	#skills .skill-wrap {
		padding: 105px 50px 105px 50px;
	}
	#skills .row ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	/* ---------  Portfolio --------- */
	#portfolio .portfolio-text {
		padding: 105px 0 0 50px;
	}
	#portfolio .work-container {
		margin: 0 50px 105px;
	}
	#portfolio .work-menu {
		width: 80%;
		margin: 42px 50px 42px 50px;
	}
	figure.project-card h2 {
		font-size: 2.4rem;
	}

	/* Popup Content */
	.white-popup {
		width: 70%;
		height: 50%;
	}
	/* ---------  Contact --------- */
	#contact .contact-wrap {
		padding: 105px 50px 105px 50px;
	}
	#contact .contact-container {
		padding: 0 10px 0 10px;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
	}
	#contact .contact-container .con-text {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	#contact .contact-container .con-text h3 {
		margin-right: 50px;
	}

	#contact .contact-container .talk-container {
		padding: 0;
	}
}
